<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>This is the people page</title>
  </head>
  <body>
    Hello from the people page, from <%= individual %> who lives in <%= state %>

    Click <a href ="/profiles/<%=individual%>">here</a> to visit her/his home page.
  </body>
</html>
